{% extends "layout.njk" %}
{% block head %}
  <head>
    <title>Donuts da Lory</title>
  </head>
{% endblock %}
{%block content %}
  <body class="donuts-page">
    <div class='central'>
      <section class="cards">
        {% for datas in data %}
          <div class="card">
            <div class="space-card" >
              <div class="card-image" id="{{datas.id}}">
                <img src="/image/{{datas.id}}.jpg" alt="">
              </div>
              <div class="card-content">
                <p class="card-info">{{datas.info}}</p>
                <p class="card-title">{{datas.title}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </section>

    </div>
    <script src="scripts.js"></script>
  {% endblock %}
</body>