{% extends "layout.njk" %}
{% block head %}
  <head>
    <title>Donuts da Lory</title>
  </head>
{% endblock %}
{%block content %}
  <body class="donut-page">
    <div class='central'>

    </div>
  {% endblock %}
</body>