<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
      <title>Inicio</title>
      {% endblock%}
      <link rel="stylesheet" href="/default.css">
      <link rel="stylesheet" href="/style.css">
    </head>

    <body>
      <header >
        <div class="central">
          <div class="header">
            <div class="logo">
              <a href="/">
                <img class="logo-img" src="/image/logo.png" alt="">
              </a>
            </div>
            <div class="header-sub">
              <a href="/sobre">Sobre</a>
              <a href="/donuts">Donuts</a>
            </div>
          </div>
        </div>
      </header>
      {% block content %}{% endblock %}
    </div>
    <footer class="rodape">
      <p>Todos os direitos reservados, Donuts da Lory</p>
    </footer>
  </body>

</html>