{% extends "layout.njk" %}
{% block head %}
  <head>
    <title>Sobre nos</title>
  </head>
{% endblock %}
{%block content %}
  <body class="sobre">

    <div class='central'>

      <div class="sobre-content">
        <div class="back-title">
          <h3 class="sobre-title">Como tudo começou</h3>
          <p class="sobre-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum aliquam accusantium a velit sunt dolorem voluptatem sit soluta tempora est, voluptas beatae sapiente iusto, fuga dolore quisquam corrupti pariatur.</p>
        </div>
        <div class="back-title">
          <h3 class="sobre-title">Sobre</h3>
          <p class="sobre-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur rerum aliquam accusantium a velit sunt dolorem voluptatem sit soluta tempora est, voluptas beatae sapiente iusto, fuga dolore quisquam corrupti pariatur.</p>
        </div>
      </div>
    </div>
    <p class="fita">Redes socias</p>
    <div class="social">
      <a href="">
        <img class="insta" src="image/insta.png" alt="">
      </a>
      <a href="">
        <img class="wpp" src="image/whatsapp.png" alt="">
      </a>
    </div>

  </body>
{% endblock %}