body {
  background-color: #f6f6f6;
  position: relative;
  padding-bottom: 6rem;
}




.navegacao {
  text-align: center;
}

.nav-menu > li {
  padding: 0 0 0 30px;
}

header {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.central {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.central .header {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  align-items: center;
  padding-top: 1rem;
  padding-left: 2rem;
}

.central .logo {
  margin-right: 1rem;
  width: 13%;
}

.logo-img {
  max-width: 91%;
  height: auto;
}

.header .header-sub a {
  font-size: 30px;
  margin-left: 30px;
  color: #111;
  text-decoration: none;
  padding-right: 2rem;
}

.header .header-sub a:hover {
  font-weight: bold;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  color: #f9ed69;
}

.banner {
  width: 100%;
  background: #fcbad3;
  border-radius: 30px;
  padding: 15px 0px 0 11px;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.53);
  box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.53);
  border-radius: 30px;
}


.banner .banner-text {
  margin-bottom: 2rem;
  padding-left: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.banner-text-p {
  font-size: 35px;
  padding-top: 20px;
  line-height: 32px;
  color: rgb(13, 17, 17, 0.8);
}

.img-chef {
  width: 90%;
}

.banner .banner-text h2 {
  font-weight: bold;
  font-size: 40px;
  color: #111111;
  margin-bottom: 10px;
}

.conteudo-title {
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
}

.cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.card-image img {
  cursor: pointer;
  width: 283px;
  height: 140px;
  border-radius: 15px;
}

.card-content {
  margin-top: 20px;
}
.card-info {
  font-size: 20px;
  color: #111111;
  display: grid;
  font-weight: bold;
  grid-template-columns: 1fr 1fr;
}
.card-title {
  font-size: 21px;
  font-weight: bold;
  color: black;
}
.rodape {
  margin-top: 20px;
  height: 62px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 21px;
  background-color: rgba(0, 0, 0, 0.1);
}
.rodape p {
  text-align: center;
  padding-top: 20px;
  color: #222221;
}
.sobre {
  background: #ffc7c7;
}
.back-title {
  background-color: #ffe2e2;
  border-radius: 20px;
  padding: 20px 20px;
  margin-bottom: 3rem;
  -webkit-box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.25);
}
.sobre-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.sobre-title {
  font-weight: bold;
  color: black;
  font-size: 30px;
  padding-bottom: 2rem;
}
.sobre-text {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  padding-bottom: 2rem;
}

.social {
  text-align: center;
}
.social a {
  width: 50%;
  text-align: center;
}
.fita {
  background-color: #f6f6f6;
  color: black;
  text-align: center;
  font-size: 30px;
  padding-bottom: 8px;
}
.wpp {
  width: 8%;
}
.insta {
  width: 8%;
}

@media (max-width: 39em) and (min-width: 0em) {
  .social-d a {
    width: 50%;
  }


  .insta {
    margin-top: 1rem;
    margin-right: 0;
    width: 25%;
    padding-bottom: 1rem;
  }
  .wpp {
    width: 25%;
  }

  .central {
    max-width: 540px;
  }
  .banner {
    -webkit-box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.28);
    box-shadow: -4px 10px 42px 0px rgba(0, 0, 0, 0.28);
  }

  .banner {
    width: 100%;
    padding: 15px 21px 0 11px;
  }

  .central .header {
    width: 98%;
    padding-left: 0;
    padding-left: 0rem;
  }

  .header-sub {
    padding-left: 21px;
  }

  .central .logo {
    width: 22%;
    margin-left: 8px;
  }

  .header .header-sub a {
    font-size: 30px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 1rem;
    padding-top: 21px;
  }

  .banner .banner-text {
    margin-bottom: 0;
    padding-left: 2.5rem;
  }

  .banner .banner-text h2 {
    font-size: 23px;
    margin-bottom: 9px;
  }

  .banner .banner-text p {
    font-size: 24px;
    line-height: 24px;
  }

  .banner .banner-chefe {
    text-align: center;
  }

  .img-chef {
    width: 50%;
  }

  .card-donuts {
    display: flex;
    justify-content: center;
  }

  header .menu a {
    font-size: 25px;
    margin-left: 20px;
    color: #111;
    text-align: center;
    text-decoration: none;
    padding-right: 2rem;
  }

  .cards {
    margin-top: 2rem;
  }
}
.donuts-page {
  background-color: #fcbad3;
}

@media (max-width: 59em) and (min-width: 40em) {
  .central {
    max-width: 720px;
  }
  .img-chef {
    width: 90%;
    padding-left: 122px;
  }
  .logo-img {
    max-width: 134%;
  }
  .central .logo {
    margin-right: 1rem;
  }
  .cards {
    margin-top: 2rem;
  }

  header .logo {
    width: 20%;
  }

  header .menu {
    width: 80%;
  }

  .banner .banner-text {
    margin-bottom: 0;
    padding-left: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .banner .banner-text p {
    padding-right: 3rem;
  }

  .banner .banner-chefe {
    text-align: center;
  }

  .insta,
  .wpp {
    width: 20%;
  }
}

@media (min-width: 62em) {
  .central {
    max-width: 960px;
  }

  .banner {
    min-height: 366px;
  }

  .banner .banner-text {
    width: 50%;
  }

  .banner .banner-text p {
    padding-right: 8rem;
  }

  .banner .banner-chefe {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
